.base__container {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

.base__container .sidebar__container {
  width: 25vw;
  background-color: #FAFAFC;
  overflow-y: auto;
  overflow-x: hidden;
}

.base__container .sidebar__container_menulist {
  padding: 3%;
  padding-left: 40%;
  line-height: 2.3;
}

.base__container .sidebar__container_menulist_logo {
  width: 70%;
  height: 3em;
  margin-bottom: 2em;
}

.base__container .sidebar__container_menulist_logo_img {
  width: 100%;
}

.base__container .sidebar__container_menulist_parent {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
}

.base__container .sidebar__container_menulist_parent .menu_list {
  display: none;
}

.base__container .sidebar__container_menulist_parent .menu_list.active {
  display: block;
}

.base__container .sidebar__container_menulist_parent a {
  color: #232323;
  font-weight: 600;
  font-size: 1em;
  position: relative;
  text-decoration: none;
}

.base__container .sidebar__container_menulist_parent a:hover {
  padding: 10px;
}

.base__container .sidebar__container_menulist_child {
  padding-left: 15px;
  margin-bottom: 0.5em;
}

.base__container .sidebar__container_menulist_child a {
  color: #232323;
  font-size: 1em;
  font-weight: 400;
  position: relative;
  text-decoration: none;
}

.base__container .sidebar__container_menulist_child a:hover {
  padding: 10px;
}

.base__container .content__container {
  max-height: 100vh;
  overflow-y: scroll;
  padding: 3vw 3vw 3vw 5vw;
  /* top right bottom left */
  width: 75vw;
}

.base__container .content__container_header {
  width: 50vw;
  height: 5vh;
  display: flex;
}

.base__container .content__container_header_search {
  width: 90%;
}

.base__container .content__container_header_search_text {
  height: 1.5em;
}

.base__container .content__container_header_search_input {
  width: 100%;
  border: none;
  border-bottom: 0.1px solid #E2E2E2;
  height: 2em;
  cursor: pointer;
}

.base__container .content__container_header_search_input:focus {
  outline: none;
  cursor: auto;
}

.base__container .content__container_header_version {
  width: 10%;
}

.base__container .content__container_header_version_text {
  height: 1.5em;
}

.base__container .content__container_header_version_select {
  width: 100%;
  border: none;
  border-bottom: 0.1px solid #E2E2E2;
  height: 2em;
}

.base__container .content__container_header_version_select:focus {
  outline: none;
}

.base__container .content__container_isi {
  border-bottom: 0.1px solid #D6D6D6;
}

.base__container .content__container_isi_title {
  font-size: 2.5em;
  letter-spacing: 0;
}

.base__container .content__container_isi_daftarisi_parent {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
}

.base__container .content__container_isi_daftarisi_parent i {
  color: #FF291A;
}

.base__container .content__container_isi_daftarisi_parent a {
  color: #232323;
  font-weight: 500;
  font-size: 1.2em;
  position: relative;
  text-decoration: none;
  margin-left: 2px;
}

.base__container .content__container_isi_daftarisi_child {
  padding-left: 15px;
  margin-bottom: 0.5em;
}

.base__container .content__container_isi_daftarisi_child i {
  color: #FF291A;
  opacity: 0.7;
  font-size: 1em;
  font-weight: 500;
}

.base__container .content__container_isi_daftarisi_child a {
  color: #232323;
  font-size: 1em;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  margin-left: 2px;
}

.base__container .content__container_body_title {
  color: #232323;
  font-size: 1em;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  margin-left: 2px;
}

.base__container .content__container_body h2 i {
  color: #FF291A;
  font-size: 1em;
  font-weight: 500;
}

.base__container .content__container_body h3 i {
  color: #FF291A;
  opacity: 0.7;
  font-size: 1em;
  font-weight: 400;
}

.base__container .content__container_body_content {
  margin-left: 1.5em;
}


